/* write your override styles here */
#wall .tag-1 {
    display: none;
  }

#tag-2 {
    display: none !important;

}

#tag-3 {
    display: none !important;

}

#tag-4 {
    display: none !important;

}

#tag-5 {
    display: none !important;

}

#tag-6 {
    display: none !important;

}

#tag-7 {
    display: none !important;

}